---
section_id: home
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body class="f-topbar-fixed">
  <div class='transparent white fixed contain-to-grid'>
    <nav class="top-bar onepage" data-options="" data-topbar="" style="background: transparent;">
      <ul class='title-area'>
        <li class='name'>
          <h1>
            <a href='{{site.baseurl}}/index.html'>
              <img alt="" src="{{site.baseurl}}/images/subnero_logo_small.png" />
            </a>
          </h1>
        </li>
        <li class='toggle-topbar menu-icon'>
          <a href='#'>Menu</a>
        </li>
      </ul>
      <section class='top-bar-section'>
        <ul class="right">
          {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
          <li class="{{active_class}}">
            <a href="{{site.baseurl}}/{{ item.path }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </nav>
  </div>
  <div id="main" role="main" class="top-shift">
    <div class="full no-padding">
    <div class="fullscreen">
      <img id="fullscreen-video" src="images/lp1.jpg">
      <div class="overlay"></div>
      <div class="layer">
        <p class="small-title">MAKE THE RIGHT CHOICE</p>
        <h1 class="thin" id="to-be-update">
          Too fast <br> Too wild <br> Too different      </h1>
        <h2 class="thin">
          This is wrap, a creative digital company, creating solutions for any visual identity project, espetically for digital experiences and brand identities                          <a href="#works">View our works</a>
        </h2>
      </div>
    </div>
  </div>
</body>
</html>
