<div id="footer">
  <div class="footer-row">
    <div class="footer-column company-desc">
      <a href="{{site.baseurl}}/">
        <img alt="Subnero" src="{{site.baseurl}}/images/subnero_logo.png" />
      </a>
      <div class="socials">
        <ul>
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/subnero/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/subnero_comms/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="http://facebook.com/subnero/">
            <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="http://github.com/subnero1">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/subnero">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="newsletter">
        {%- include formNewsletter.html -%}
      </div>
    </div>
    <div class="footer-column">
      <h5>Offerings</h5>
      <ul>
        <li><a href="{{ site.baseurl}}/products/#smart-modems">WNC Series Modems</a></li>
        <li><a href="{{ site.baseurl}}/products/#unetstack">UnetStack</a></li>
        <li><a href="{{ site.baseurl}}/products/swis.html#adcp-edition">SWIS - ADCP Edition</a></li>
        <li><a href="{{ site.baseurl}}/solutions">Solutions</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h5>Resources</h5>
      <ul>
        <li><a href="{{ site.baseurl}}/pulse">Pulse (Blog)</a></li>
        <li><a href="{{ site.baseurl}}/user-stories">User Stories</a></li>
        <li><a href="{{ site.baseurl}}/support">Support</a></li>
        <li><a href="{{ site.baseurl}}/faq">FAQ</a></li>
        <li><a href="{{ site.baseurl}}/technical-resources">Technical Resources</a></li>
      </ul>
    </div>
    <div class="footer-column company-contact">
      <h5>Company</h5>
      <ul>
        <li><a href="{{ site.baseurl}}/about">About Us</a></li>
        <li><a href="{{ site.baseurl}}/careers">Careers</a></li>
        <li><a href="{{ site.baseurl}}/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <p id="company" style="text-align:center; margin-bottom: 0px;padding-bottom: 8px">© Subnero Pte. Ltd. {{ site.time | date: "%Y" }}. All rights reserved.</p>

</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
