<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-12 columns links' >
      <div class='small-1 columns'>
        <a href="{{site.baseurl}}/support">SUPPORT</a>
      </div>
      <div class='small-1 columns'>
        <a href="{{site.baseurl}}/careers">CAREERS</a>
      </div>
      <div class='small-2 columns'>
        <a href="{{site.baseurl}}/contact">CONTACT US</a>
      </div>
      <div class='small-1 columns'></div>
      <div class='small-4 columns'>
        <ul class='socials'>
          <a target='_blank' href='http://facebook.com/subnero1/'>
          <li>
            <i class='fa fa-facebook'></i>
        </li>
        </a>
        <li>
          <a target='_blank' href='http://twitter.com/subnero'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a target='_blank' href='http://github.com/subnero1'>
            <i class='fa fa-github'></i>
          </a>
        </li>
          <a target='_blank' href='https://www.linkedin.com/company/subnero/'>
            <i class='fa fa-linkedin'></i>
          </a>
        </
      </ul>
      </div>
    </div>
  </div>
  <div class="sc-bXGyLb dPSNdz"><hr class="sc-lkqHmb hzFHYk"><a href='{{site.baseurl}}/index.html'>
        <img alt="" src="{{site.baseurl}}/images/subnero_logo_small.png" />
      </a><hr class="sc-lkqHmb bYgvkJ"></div>
  <div class='spacing'></div>
  <p style='font-size:1em;text-align:center;'>© Subnero Pte. Ltd. {{ site.time | date: '%Y' }}. All rights reserved.</p>
  <div class='two spacing'></div>

</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
