<div class="contact-query">
  <button class="form-button" id="openContact">
    {% if include.is_contact %}
      <span>Contact us</span>
    {% else %}
      <span>Write to us</span>
    {% endif %}
  </button>
</div>
<!-- Modal -->
<dialog id="contactModal" class="modal-dialog">
  <div class="modal-content">
    <header><button class="modal-close" type="button" id="closeContact" title="close">&times;</button></header>
    <div class="main">
      <script src='https://subnero.myfreshworks.com/crm/sales/web_forms/2f4cffca4e110143eddfd3ddfa8c658971bdd6aa1bc3a9062de1e745d68465e5/form.js' crossorigin='anonymous' id='fs_2f4cffca4e110143eddfd3ddfa8c658971bdd6aa1bc3a9062de1e745d68465e5'></script>
    </div>
    <div class="footer"></div>
  </div>
</dialog>

<script>
const contactModal = document.getElementById('contactModal');
const openContact = document.getElementById('openContact');
const closeContact = document.getElementById('closeContact');

// Open the modal
openContact.addEventListener('click', () => {
    contactModal.showModal();
});

// Close the modal
closeContact.addEventListener('click', () => {
    contactModal.close();
});

document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape' && contactModal.open) {
        contactModal.close();
    }
});

</script>

