<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{site.baseurl}}/'>
            <img class="subnero-logo" alt="Subnero" src="{{site.baseurl}}/images/subnero_logo_small.png" />
            <img class="subnero-logo" alt="Subnero" src="{{site.baseurl}}/images/subnero_logo_small.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.submenu %}
          <li class="has-dropdown {{ active_class }}" >
            <a href="{{ site.baseurl}}/{{ item.path }}">{{ item.name }}</a>
            {% if item.submenu %}
            <ul class="submenu {{ item.section_id }}">
              {% if item.section_id == "products" %}
              <li><a href="{{ site.baseurl}}/{{ item.path }}">All</a></li>
              {% endif %}
            {% for entry in item.submenu %}
              <li><a href="{{ entry.path }}">{{ entry.name }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% else %}
          <li class="{{active_class}}">
            <a href="{{ site.baseurl}}/{{ item.path }}">{{ item.name }}</a>
          </li>
        {% endif %}
          {% endfor %}
      </ul>
    </section>
  </nav>
</div>