<div class="sidebar-row">
  <h5>Tages</h5>
  <div class="tags">
    {% for tag in page.categories %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}">#{{ tag_name }}</a>
    {% unless forloop.last %} &nbsp; {% endunless %}
    {% endfor %}
  </div>
</div>
<div class="sidebar-row">
  <h5>Share this article</h5>
  <div class="media-links">
    {% assign full_url = site.url | append: site.baseurl | append: page.url %}
    {% assign encoded_url = full_url | url_encode %}
    {% assign encoded_title = page.title | url_encode %}
    <!-- facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ encoded_url }}" 
     target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook-icon lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
    </a>
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ encoded_url }}" 
     target="_blank" rel="noopener noreferrer" aria-label="Share on LinkedIn">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin-icon lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
    </a>
    <!-- email -->
    <a href="mailto:?subject={{ encoded_title }}&body=Check%20out%20this%20article:%20{{ encoded_url }}" aria-label="Share via Email">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
    </a>
  </div>
</div>

<div class="sidebar-row">
  <h5>Stay updated with Subnero news</h5>
  <script defer src='https://subnero.myfreshworks.com/crm/sales/web_forms/01af119847118009677d0dfd081247c08e8ab9f3f4507d309bd48821213d3d4e/form.js' crossorigin='anonymous' id='fs_01af119847118009677d0dfd081247c08e8ab9f3f4507d309bd48821213d3d4e'></script>
</div>
