{% if page.title %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": {{ page.title | jsonify }},
  "image": [
    "{{ site.url }}{{ site.baseurl }}/{{ page.thumbnail | default: page.banner | default: 'images/logo.png' }}"
   ],
  "description": {{ page.excerpt | strip_html | strip_newlines | jsonify }},
  "brand": {
    "@type": "Brand",
    "name": "Subnero"
  },
  "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
}
</script>
{% endif %}
