<div class="card-wrapper">
  {% assign categories = site.data.gen4x_products %}
  {% for category in categories %}
  {% assign key = category[0] %}
  {% assign value = category[1] %}
  <a class="product-card" href="{{ site.baseurl }}{{value.current_link}}">
    <div class="card-tag {{ value.tag | downcase }}">{{ value.tag }}</div>
    <h2>{{ value.title }}</h2>
    <p class="band">{{ value.band }}</p>
    {% if include.show_details %}
    <div class="cover-img">
      <img src="{{ site.baseurl }}{{value.image}}" alt="{{value.title}}">
    </div>
    {% endif %}
    <p>{{ value.details }}</p>
    <div class="text-right">View &#8594;</div>
  </a>
  {% endfor %}
  <a class="product-card" href="{{ site.baseurl }}/products/modem.html">
    <div class="card-tag legacy">Legacy</div>
    <h2>Gen4 WNC Series</h2>
    {% if include.show_details %}
    <div class="cover-img">
      <img src="{{ site.baseurl }}/images/gen4x/legacy-preview.png" alt="All Gen4">
    </div>
    {% endif %}
    <p>Trusted technology continuing to support ongoing deployments.</p>
    <div class="text-right">View &#8594;</div>
  </a>
</div>