<div class="card-wrapper">
  {% assign categories = site.data.gen4x_products %}
  {% for category in categories %}
    {% assign key = category[0] %}
    {% assign value = category[1] %}
    <a class="product-card" href="{{ site.baseurl }}/products/gen4x/index.html?category={{ key }}">
      <div class="card-tag">MF Band</div>
      <h2>{{ value.title }}</h2>
      {% if include.show_details %}
      <div class="cover-img">
        <img src="{{ site.baseurl }}{{value.image}}" alt="{{value.title}}">
      </div>
      {% endif %}
      <p>{{ value.details }}</p>
      <div class="text-right">View &#8594;</div>
    </a>
  {% endfor %}
    <a class="product-card" href="{{ site.baseurl }}/products/gen4x">
      <div class="card-tag">Gen 4X</div>
      <h2>All Gen4X</h2>
      {% if include.show_details %}
      <div class="cover-img">
        <img src="{{ site.baseurl }}/images/gen4x/cover-gen4x.png" alt="All Gen4x">
      </div>
      {% endif %}
      <p>View our lastest generation - Gen 4X - product series.</p>
      <div class="text-right">View &#8594;</div>
    </a>
    <a class="product-card" href="{{ site.baseurl }}/products/modem.html">
      <div class="card-tag gen4">Gen 4</div>
      <h2>All Gen4</h2>
      {% if include.show_details %}
      <div class="cover-img">
        <img src="{{ site.baseurl }}/images/gen4x/cover-gen4.png" alt="All Gen4">
      </div>
      {% endif %}
      <p>View our previous generation products.</p>
      <div class="text-right">View &#8594;</div>
    </a>
  </div>