<div class="tab-columns">
    {% for item in include.content %}
        {% if forloop.first == true %}
            <input id="{{ item.input_id }}" name='tab-control' name="wnc-tabs" type='radio' class='radio' checked>
        {% else %}
            <input id="{{ item.input_id }}" name='tab-control' name="wnc-tabs" type='radio' class='radio'>
        {% endif %}
    {% endfor %}
    {% if include.type == "features" %}
        <div class='type-container row row-width bg-grey'>
    {% elsif include.type == 'products' %}
        <div class='type-container sticky'>
    {% endif %}
    {% for item in include.content %}
        <label class='type-item' for="{{ item.input_id }}">{{ item.name }}</label>
    {% endfor %}
    </div>
    <div class="tab-panels">
        {% if include.type == "features" %}
            <div class='row features-row'>
                <div class='large-12 columns'>
                    {% for item in include.content %}
                    <div class='tab-panel'>
                        <div class='bg-grey'>
                            <div class='row row-width section-margin'>
                                <div class='large-6 columns'>
                                    <div class='flex-col'>
                                        <p> {{ item.introduction }}</p>
                                        {% for section in item.sections %}
                                            <div class='section-sub-heading'>
                                                <i class='fa fa-lg fa-{{ section.icon }}'></i>
                                                <h4>{{section.name}}</h4>
                                            </div>
                                            <p>{{section.description}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class='large-5 columns'>
                                    <img src="{{site.baseurl}}/{{item.thumbnail}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% elsif include.type == 'products' %}
            {% assign product_tabs = site.pages | where:"categories","product-type" | sort: "order" %}
            <div id='panel-one' class='tab-panel'>
                {% for page in product_tabs %}
                    {{ page.content }}
                {% endfor %}
            </div>
            {% for page in product_tabs %}
            <div id='{{page.tab-id}}' class='tab-panel'>
                {{ page.content }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>