---
layout: default
title: Battery Calculator
---

<div>

	<div class="bc-wrapper">
		<h2 class="page-title">Battery Calculator</h2>
		<div id="batteryApp" class="battery-app" v-cloak>
            <section class="bc-help">
				<button @click="showHelp = !showHelp">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><line x1="12" y1="17" x2="12.01" y2="17"/></svg>
				</button>
				<div class="help-content" :class="{'active': showHelp}">
                    <h3>To use this calculator, follow these steps:</h3>
                    <ol>
                        <li>Distance: Enter the distance between the topside and seabed modem (slant range) in meters.</li>
                        <li>File Size: Provide the calculated file size (in kilobytes) obtained from the ADCP software.</li>
                        <li>Number of Transmissions: Specify the number of times you need to transfer per day.</li>
                        <li>Interpret Results: The program will recommend the modem, calculate the data rate, transmission power, and various durations based on the inputs.</li>
                        <li>Transmission Limits: The program imposes certain limits to optimize power consumption. It allows a maximum total transmission duration of 12 hours and a maximum of 10 transmissions per day. If any of these limits are exceeded, consider adjusting the file size or the number of transmissions.</li>
                        <li>Battery Capacity: The program will present the estimated battery capacity requirements for your deployment on a daily, weekly, and monthly basis.</li>
                        <li>Remember to use the tool as a guidance tool rather than a definitive source, and consider consulting experts and conducting additional analysis for accurate battery capacity estimations.</li>
                    </ol>
                </div>
			</section>

            <div class="bc-fields">

                <div class="bc-row">
                    <div class="bc-label">
                        <p class="bc-label-main">Enter distance between topside and seabed modem (m)</p>
                        <p class="bc-label-sub">(Slant Range)</p>
                    </div>
                    <div class="bc-input">
                        <input v-model="distanceInput" type="number" id="range" min="0" max="1500">
                    </div>
                    <div class="bc-unit">m</div>

                    <div class="bc-row recommendation">
                        <div class="bc-label">
                            <p class="bc-label-main">Based on your range input, we recommend you select a frequencey.</p>
                        </div>
                        <div class="bc-input radio">
                            <label>
                                <input type="radio" name="value-recommended" value="hf" >
                                HF
                            </label>
                            <label>
                                <input type="radio" name="value-recommended" value="mf" >
                                MF
                            </label>
                        </div>
                    </div>

                    <div class="error">[[ rangeError ]]</div>
                </div>

                <div class="bc-row">
                    <div class="bc-label">
                        <p class="bc-label-main">Enter file size for each transmission</p>
                        <p class="bc-label-sub">(Use the filesize (in kilobytes) obtained from the ADCP software)</p>
                    </div>
                    <div class="bc-input">
                        <input v-model="filesizeInput" type="number" id="file-size" min="0" max="1500">
                    </div>
                    <div class="bc-unit">kB</div>
                    <div class="error">[[ filesizeError ]]</div>
                </div>

                <div class="bc-row">
                    <div class="bc-label">
                        <p class="bc-label-main">How many times a day you need to transmit?</p>
                        <p class="bc-label-sub">(Maximum is 12 times)</p>
                    </div>
                    <div class="bc-input">
                        <input v-model="transmissionInput" type="number" id="transmission" min="0" max="12">
                    </div>
                    <div class="bc-unit">times</div>
                    <div class="error">[[ timesError ]]</div>
                </div>

                <div class="bc-button-row ">
                    <button class="bc-btn" @click="calculateBattery" >Calculate</button>
                </div>
            </div>
            <div class="output-section"></div>
            <div class="bc-output" v-if="noErrors">
                
                <div class="bc-output-group">
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Range</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.range ]]</span>
                            <span class="bc-unit">m</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Recommended Modem</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.recommended ]]</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Modem (fc)</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.modem ]]</span>
                            <span class="bc-unit">Hz</span>
                        </div>
                    </div>
                </div>

                <div class="bc-output-group">
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">File Size</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.filesize ]]</span>
                            <span class="bc-unit">kB</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Expected Data Rate</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.datarate ]]</span>
                            <span class="bc-unit">bps</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Expected tx Power</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.txpower ]]</span>
                            <span class="bc-unit">w</span>
                        </div>
                    </div>
                </div>

                <div class="bc-output-group">
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Frequency of transfer</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.frequency ]]</span>
                        </div>
                    </div>
                </div>

                <div class="bc-output-group">
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">TX duration</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.txduration ]]</span>
                            <span class="bc-unit">hrs</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">RX duration</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.rxduration ]]</span>
                            <span class="bc-unit">mins</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Sleep duration</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.sleepduration ]]</span>
                            <span class="bc-unit">hrs</span>
                        </div>
                    </div>
                </div>

                <div class="bc-output-group">
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">TX battery capacity requirement</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.txcapacity ]]</span>
                            <span class="bc-unit">Wh</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">RX battery capacity requirement</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.rxcapacity ]]</span>
                            <span class="bc-unit">Wh</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Sleep battery capacity requirement</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.sleepcapacity ]]</span>
                            <span class="bc-unit">hrs</span>
                        </div>
                    </div>
                </div>

                <div class="bc-output-group">
                    <h5>Expected battery capacity requirement</h5>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Daily</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.dailycapacity ]]</span>
                            <span class="bc-unit">Wh</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Weekly</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.weeklycapacity ]]</span>
                            <span class="bc-unit">Wh</span>
                        </div>
                    </div>
                    <div class="bc-output-row">
                        <div class="bc-column bc-col-label">Monthly</div>
                        <div class="bc-column bc-col-value">
                            <span class="bc-value">[[ resultValues.monthlycapacity ]]</span>
                            <span class="bc-unit">Wh</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="disclaimer">
                <p><b>Disclaimer:</b> The battery capacity calculation tool for SWIS - ADCP edition offers a general estimation based on assumptions regarding link speed and power consumption for subsea deployments. However, if the underwater channel conditions differ significantly from typical channels used for these calculations, the assumptions may not be accurate, leading to incorrect calculations. The tool should be used as guidance rather than definitive values, and users are advised to exercise their own judgment, conduct further analysis, and consult experts. The developers and providers of the tool are not liable for any damages or losses resulting from its use or reliance on its calculations.</p>
            </div>
        </div>

	</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script>
const { createApp, ref, reactive, nextTick } = Vue;

createApp( {
    delimiters: ['[[', ']]'],
    setup() {
        const setupVars = {
            MF: 24000,
            HF: 64000,
            MAX_TOTAL_TX_DURATION: 43200, //12 hours
            MAX_TRANSMISSIONS: 12, //12 times a day
            MIN_IDLE_DURATION: 600, //10 minutes
            RX_POWER: 4, //watts
            SLEEP_POWER: 0.01, //watts
        }
        //models
        const distanceInput = ref(null);
        const filesizeInput = ref(null);
        const transmissionInput = ref(null);

        //misc vars
        const showHelp = ref(false);
        const speed = ref(null);

        //Error Messages
        const noErrors = ref(false);
        const rangeError = ref('');
        const filesizeError = ref('');
        const timesError = ref('');

        const errors = reactive({
            distance01: 'Range value is required.',
            distance02: 'Range value cannot be less than 1.',
            distance03: 'Range value cannot be more than 1500',
            filesize01: 'File size cannot be empty.',
            filesize02: 'File size cannnot be less than 1 kB',
            filesize03: 'File size cannot be greater than 2000 kB',
            times01: 'Please enter a value greater than 0',
            times02: 'Optimum transfer count is 12.'
        });

        //result
        const resultValues = reactive({
            range: 'na',
            recommended: 'na',
            modem: 'na',
            filesize: 'na',
            datarate: 'na',
            txpower: 'na',
            frequency: 'na',
            txduration: 'na',
            rxduration: 'na',
            sleepduration: 'na',
            txcapacity: 'na',
            rxcapacity: 'na',
            sleepcapacity: 'na',
            dailycapacity: 'na',
            weeklycapacity: 'na',
            monthlycapacity: 'na',
        });
        
        const calculateBattery = () => {
            checkForErrors();
            if(noErrors.value) {
                doCalculations();
            }
        }

        const checkForErrors = () => {

            if(distanceInput.value == null) {
                rangeError.value = errors.distance01;
            }else if(distanceInput.value < 1) {
                rangeError.value = errors.distance02;
            }else if(distanceInput.value > 1500) {
                rangeError.value = errors.distance03;
            }else{
                rangeError.value = '';
            }

            if(filesizeInput.value == null) {
                filesizeError.value = errors.filesize01;
            }else if(filesizeInput.value < 1) {
                filesizeError.value = errors.filesize02;
            }else if(filesizeInput.value > 2000) {
                filesizeError.value = errors.filesize03;
            }else{
                filesizeError.value = '';
            }

            if(transmissionInput.value == null || transmissionInput.value < 1) {
                timesError.value = errors.times01;
            }else if(transmissionInput.value > 12) {
                timesError.value = errors.times02;
            }else{
                timesError.value = '';
            }

            if(rangeError.value == '' && filesizeError.value == '' && timesError.value == '') {
                noErrors.value = true;
            }else {
                noErrors.value = false;
            }
        }
        
        const doCalculations = () => {
            
            //range
            resultValues.range = distanceInput.value;

            //recommended
            if(distanceInput.value < 100) {
                speed.value = setupVars.HF;
                resultValues.recommended = 'S60H series modems';
            }else if(distanceInput.value <= 1500) {
                speed.value = setupVars.MF;
                resultValues.recommended = 'M25M series modems';
            }

            //modem
            resultValues.modem = speed.value;

            //filesize
            resultValues.filesize = filesizeInput.value;

            //datarate
            const data_rate = datarate(distanceInput.value, speed.value);
            if(data_rate) {
                resultValues.datarate = data_rate;
            }else {
                resultValues.datarate = "Range is beyond the limit supported"
            }

            //txpower
            const tx_power = txpower(distanceInput.value, speed.value);
            resultValues.txpower = tx_power;

            //frequency
            resultValues.frequency = transmissionInput.value;

            //txduration 
            const tx_duration = filesizeInput.value * 1000 / datarate(distanceInput.value, speed.value);
            resultValues.txduration = tx_duration;

            //rxduration
            const rx_duration = setupVars.MIN_IDLE_DURATION;
            resultValues.rxduration = setupVars.MIN_IDLE_DURATION;

            //sleepduration
            const sleep_duration = 86400 - (tx_duration * rx_duration) * transmissionInput.value;
            resultValues.sleepduration = sleep_duration;

            //txcapacity
            resultValues.txcapacity = roundToTwoDecimals((tx_duration * transmissionInput.value * tx_power) / (60 * 60));

            //rxcapacity
            resultValues.rxcapacity = roundToTwoDecimals((tx_duration * transmissionInput.value * setupVars.RX_POWER) / (60 * 60));

            //sleepcapacity
            resultValues.sleepcapacity = roundToTwoDecimals((tx_duration * transmissionInput.value * setupVars.RX_POWER) / (60 * 60));

            //dailycapacity
            const daily_capacity = ((tx_duration * transmissionInput.value * tx_power) + (rx_duration * transmissionInput.value * setupVars.RX_POWER) + (sleep_duration * setupVars.SLEEP_POWER)) / (60 * 60);
            resultValues.dailycapacity = roundToTwoDecimals(daily_capacity);

            //weeklycapacity
            resultValues.weeklycapacity = roundToTwoDecimals(daily_capacity * 7);

            //monthlycapacity
            resultValues.monthlycapacity = roundToTwoDecimals(daily_capacity * 30);


            //noErrors
            nextTick(() => {
                let el = document.querySelector('.output-section');
                if(el) {
                    el.scrollIntoView({ behavior: "smooth" })
                }
            })
        }

        //helper functions
        const datarate = (range, fc) => {
            if(range < 0) return none;

            if (fc == setupVars.MF) {
                if(range < 10) return 5000;
                if(range < 100) return 3000;
                if(range < 1000) return 2000;
                if(range < 2000) return 5000;
                if(range > 2000) return none;
            }else if (fc == setupVars.HF) {
                if(range < 10) return 25000;
                if(range < 100) return 20000;
                if(range < 1000) return 5000;
                if(range > 2000) return none;
            }
        }

        const txpower = (range, fc) =>  {
            if(range < 0) return none;

            if (fc == setupVars.MF || fc == setupVars.HF) {
                if(range < 10) return dbToWatts(-20, 45);
                if(range < 100) return dbToWatts(-10, 45);
                return dbToWatts(0, 45);
            }
        }

        const dbToWatts = (db, watts) => Math.pow(10, db / 10) * watts;

        const roundToTwoDecimals = (num) => parseFloat(num).toFixed(2);

        return { 
            showHelp,
            rangeError, 
            filesizeError,
            timesError,
            noErrors,

            distanceInput, 
            filesizeInput, 
            transmissionInput, 

            calculateBattery,
            resultValues,
        };
    }

}).mount('#batteryApp');

</script>


</div>
