---
layout: default
---


<div class ='full tall' style='background-image: url({{site.baseurl}}/{{page.banner}});'>
  <div class='row'>
    <div class='large-12 columns'>
      <!-- {% include section-header.html title=page.title tagline=page.tagline color=page.title_color class="big" %} -->
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>



<div class='full' style='background: #f5f5f5'>
  <div class='row row-width'>
    <!-- {% include breadcrumbs.html %} -->
    <h1 class="thin" id="title">{{page.title}}</h1>
    <div class='large-12'>
      {{content}}
      <div class='four spacing'></div>
    </div>
  </div>
</div>
