---
layout: default
title:  Pulse
banner : images/banner-pulse.jpg
title_color : "#E6782F"
---

<div class ='full tall' style='background-image: url({{site.baseurl}}/{{page.banner}});'>
  <div class='row'>
    <div class='large-12 columns'>
      <!-- {% include section-header.html title=page.title tagline=page.tagline color=page.title_color class="big" %} -->
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='four spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <h2 class="thin" style="text-transform: none;">{{ page.title }}</h2>
    <div class='large-12 columns' style='display:flex; flex-wrap:wrap'>
{% for post in site.categories[page.tag] %}
  {% assign isnews = false %}
  {% assign isimage = false %}
  {% if post.external_url != null %}
    {% assign isnews = true %}
  {% endif %}
  {% if post.thumbnail != null %}
    {% assign isimage = true %}
  {% endif %}
  <div class='large-4 columns' id='pulsepage'>
  <div class='mod modBlogPost'>
    <div class='images'>
      {% for image in post.images %}
        <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
      {% endfor %}
    </div>
    <div class='content' style='background:#f5F5F5;box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.1);'>
      <div class='image'><img alt="" src="{% if isimage %}{{site.url}}/{{post.thumbnail}}{% else %}{{site.url}}/{{ site.default_image }}{% endif %}" /></div>
      <p class='info'>
        <span>{{post.date | date: "%B %d, %Y" }}</span>
      </p>
      <h3 style="text-transform: none;"><a {% if isnews %}target="_blank"{% endif %} href="{% if isnews %}{post.external_url}}{% else %}{{site.baseurl}}{{post.url}}{% endif %}">{{post.title}}</a></h3>
      <span>
      {% for tag in post.categories %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <i class="fa fa-tag fa-fw"></i>
        <a href="/tag/{{ tag_name }}" style="color:#999">{{ tag_name }}&nbsp;</a>
      {% endfor %}
    </span>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>
</div>
