---
layout: default
title: Technical Resources
banner: images/banner-resources.jpg
---

<section class="page-hero md gen4x" style="background-image: url({{site.baseurl}}/{{page.banner}});">
	<div class="row flex-row">
		<div class="hero-text">
			<h4 class="g4x-tag">Technical Resources</h4>
			<h1>Build Beneath <span class="text-gradient g-blue">the Surface</span></h1>
			<p>Datasheets, whitepapers, videos, and reference materials to support your subsea communication projects.</p>
		</div>
	</div>
</section>
<!-- named anchor for next section - datasheets -->
<a name="datasheets" id="datasheets"></a>
<section class="tech-tabs">
	<div class="row large">
			<div class="tabs-list">
				<a class="tab-button" href="#datasheets" title="Product Datasheets">Product Datasheets</a>
				<a class="tab-button" href="#whitepapers">Whitepapers</a>
				<a class="tab-button" href="#videos">Videos</a>
				<a class="tab-button" href="#publication">Patents &amp; Publications</a>
				<a class="tab-button" href="#news">News & Articles</a>
			</div>
	</div>
</section>

<section class="tech-resources bg-light">
	<header class="tech-head">
		<h2 class="text-gradient g-orange">Product Datasheets</h2>
	</header>
	<!-- WNC Gen4X Series -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>WNC Gen4X Series</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col3">
			<a class="tech-link" href="{{site.baseurl}}/brochures/Gen4x-WNC.pdf" title="Gen 4x WNC Product Series Brief" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/Gen4x-WNC.jpg" alt="Gen 4x WNC Product Series Brief">
				</div>
				<div class="tech-content">
					<span class="card-tag gen4x">Gen4X</span>
					<h4>WNC Series Product Series Guide</h4>
					<p>Technical Specifications & Model Comparison</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/gen4x-M25M-modems.pdf" title="Subnero M25M Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/gen4x-M25M-modems.jpg" alt="Subnero M25M Series Modems Datasheet Thumbnail">
				</div>
				<div class="tech-content">
					<span class="card-tag gen4x">Gen4X</span>
					<h4>Subnero M25M Series Modems</h4>
					<p>Versatile Performance: Medium-Frequency Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/gen4x-S40H-modems.pdf" title="Subnero S40H Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/gen4x-S40H-modems.jpg" alt="Subnero S40H Series Modems Datasheet Thumbnail">
				</div>
				<div class="tech-content">
					<span class="card-tag gen4x">Gen4X</span>
					<h4>Subnero S40H Series Modems</h4>
					<p>High-Speed Link: High-Frequency Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/gen4x-L12L-modems.pdf" title="Subnero L12L Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/gen4x-L12L-modems.jpg" alt="Subnero L12L Series Modems Datasheet Thumbnail">
				</div>
				<div class="tech-content">
					<span class="card-tag gen4x">Gen4X</span>
					<h4>Subnero L12L Series Modems</h4>
					<p>Extended Reach: Low-Frequency Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/gen4x-MR-Modems.pdf" title="Subnero Multi-receiver Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/gen4x-MR-Modems.jpg" alt="Subnero Multi-receiver Modems Datasheet Thumbnail">
				</div>
				<div class="tech-content">
					<span class="card-tag gen4x">Gen4X</span>
					<h4>Subnero Multi-receiver Modems</h4>
					<p>Spatial Diversity Combining for High-Performance Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/Gen4X-Release.pdf" title="Gen4X Series Release Flyer" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/Gen4X-release.jpg" alt="Gen4X Series Release Flyer Thumbnail">
				</div>
				<div class="tech-content">
					<span class="card-tag gen4x">Gen4X</span>
					<h4>WNC Gen4X Series Overview</h4>
					<p>Next-Generation Software-Defined Underwater Acoustic Modems</p>
				</div>
			</a>
		</div>
	</div>
	<!-- WNC - Gen4 Series -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>WNC - Gen4 Series</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col3">
			<a class="tech-link" href="{{site.baseurl}}/brochures/Gen4-WNC.pdf"  title="Gen 4 WNC Product Series Brief" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/wnc.jpg" alt="Gen 4 WNC Product Brief">
				</div>
				<div class="tech-content">
					<span class="card-tag silver">Gen4</span>
					<h4>WNC Series Product Series Guide</h4>
					<p>Technical Specifications & Model Comparison</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/Subnero-MF-Modems.pdf"  title="Subnero M25M Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/modem4.jpg" alt="Subnero M25M Series Modems">
				</div>
				<div class="tech-content">
					<span class="card-tag silver">Gen4</span>
					<h4>Subnero M25M Series Modems</h4>
					<p>Versatile Performance: Medium-Frequency Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/Subnero-HF-Modems.pdf"  title="Subnero S40H Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/modem6.jpg" alt="Subnero S40H Series Modems">
				</div>
				<div class="tech-content">
					<span class="card-tag silver">Gen4</span>
					<h4>Subnero S40H Series Modems</h4>
					<p>High-Speed Link: High-Frequency Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/Subnero-LF-Modems.pdf"  title="Subnero L12L Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/modem7.jpg" alt="Subnero L12L Series Modems">
				</div>
				<div class="tech-content">
					<span class="card-tag silver">Gen4</span>
					<h4>Subnero L12L Series Modems</h4>
					<p>Extended Reach: Low-Frequency Acoustic Communication</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/Subnero-MR-Modems.pdf"  title="Subnero Multi-receiver Series Modems" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/modem5.jpg" alt="Subnero Multi-receiver Series Modems">
				</div>
				<div class="tech-content">
					<span class="card-tag silver">Gen4</span>
					<h4>Subnero Multi-receiver Modems</h4>
					<p>Spatial Diversity Combining for High-Performance Acoustic Communication</p>
				</div>
			</a>
		</div>
	</div>
	<!-- Unetstack -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>UnetStack</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col3">
			<a class="tech-link" href="{{site.baseurl}}/brochures/UnetStack-Brochure.pdf"  title="UnetStack Brochure" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/unetstack-brochure.jpg" alt="UnetStack Brochure">
				</div>
				<div class="tech-content">
					<h4>UnetStack</h4>
					<p>The Software-Defined Underwater Network Stack</p>
				</div>
			</a>
		</div>
	</div>
	<!-- Solutions -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>Packaged Solutions</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col3">
			<a class="tech-link" href="{{site.baseurl}}/brochures/SWIS-ADCP-Edition.pdf"  title="Subnero Wireless Integrated Suite (SWIS), ADCP Edition" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/swis-adcp-thumbnail.jpg" alt="Subnero Wireless Integrated Suite (SWIS), ADCP Edition">
				</div>
				<div class="tech-content">
					<h4>Subnero Wireless Integrated Suite (SWIS), ADCP Edition</h4>
					<p>Integrated Wireless Data Transfer for ADCPs</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/Ripple.pdf"  title="Ripple - One-stop software solution to manage all your in-robot communication interfaces" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/ripple.jpg" alt="Ripple - One-stop software solution to manage all your in-robot communication interfaces">
				</div>
				<div class="tech-content">
					<h4>Ripple</h4>
					<p>Integrated Wireless Data Transfer for Marine Robots</p>
				</div>
			</a>
			<a class="tech-link" href="{{site.baseurl}}/brochures/SUN-Brochure.pdf"  title="Subnero Underwater Network" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/brochures/sun.jpg" alt="Subnero Underwater Network">
				</div>
				<div class="tech-content">
					<h4>Subnero Underwater Network</h4>
					<p>A scalable underwater network for seamless end-end connectivity and tracking</p>
				</div>
			</a>
		</div>
	</div>
	<!-- named anchor for next section - whitepapers -->
	<a name="whitepapers" id="whitepapers"></a>
</section>

<section class="tech-resources">
	<header class="tech-head">
		<h2 class="text-gradient g-orange">Technical Whitepapers</h2>
	</header>
	<div class="row large">
		<div class="feature-grid col2">
			<div class="tech-highlight bg-gradient-img" style="background-image: url({{site.baseurl}}/images/unetstack-abstract-01.jpg);">
					<div class="wrap">
						<h6>Whitepapers</h6>
						<h2>Insights on<br/>Underwater Connectivity</h2>
						<p>Technical white papers exploring architectures, performance trade-offs, and real-world challenges in subsea connectivity.</p>
					</div>
			</div>
			<div class="tech-cols">
				<a class="tech-link" href="{{site.baseurl}}/brochures/unlocking-underwater-connectivity.pdf" title="Unlocking Underwater Connectivity" target="_blank">
					<div class="tech-img md">
						<img src="{{site.baseurl}}/brochures/unetstack-whitepaper.jpg" alt="Unlocking Underwater Connectivity">
					</div>
					<div class="tech-content">
						<h4>Unlocking Underwater Connectivity</h4>
						<p>A practical overview of the UnetStack framework and how software-defined networking enables reliable, scalable underwater communication.</p>
					</div>
				</a>
				<a class="tech-link" href="{{site.baseurl}}/brochures/WNC-whitepaper.pdf" title="The Future of Underwater Wireless" target="_blank">
					<div class="tech-img md">
						<img src="{{site.baseurl}}/brochures/wnc-whitepaper.jpg" alt="The Future of Underwater Wireless">
					</div>
					<div class="tech-content">
						<h4>The Future of Underwater Wireless</h4>
						<p>An in-depth look at the challenges of underwater acoustic communication and how Subnero’s WNC product series addresses them through smart, software-defined networks.</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- named anchor for next section - videos -->
	<a name="videos" id="videos"></a>
</section>

<section class="tech-resources bg-light">
	<header class="tech-head">
		<h2 class="text-gradient g-orange">Videos</h2>
	</header>
	<div class="row large">
		<div class="feature-grid col3">
				
				<div class="tech-video">
					{% include youtubeVideo.html url="https://www.youtube.com/embed/videoseries?si=j153pVtadCERBaWH&amp;list=PLnqY-RltGuGX5QMJG-hjfa3q1oQKDdNPX" title="Unlocking the Potential of SWIS" %}
				</div>
				<div class="tech-video">
					{% include youtubeVideo.html url="https://www.youtube.com/embed/videoseries?si=FBGIFvcpSmQhoU9E&amp;list=PLnqY-RltGuGUQkXcqpMva7SSQm4GtHwON" title="Subnero Solutions" %}
				</div>
				<div class="tech-video">
					{% include youtubeVideo.html url="https://www.youtube.com/embed/videoseries?si=ljY8IE3sZS_Djcan&amp;list=PLnqY-RltGuGXiZMe1mu1Z7B8zgFnfgHo5" title="Subnero WNC" %}
				</div>
			</div>
	</div>
	<!-- named anchor for next section - publication -->
	<a name="publication" id="publication"></a>
</section>

<section class="tech-resources card-light" id="publication">
	<header class="tech-head">
		<h2 class="text-gradient g-orange">Patents &amp; Publications</h2>
	</header>
	<!-- Patents -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>Patents</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col2 tech-col-grid">
			<a class="tech-link" href="https://www.freepatentsonline.com/y2022/0158718.html" target="_blank">
				<span class="card-tag silver outline">2022</span>
				<h4>A receiver system and a method for receiving a transmitted signal via a long-range link.</h4>
				<p>P Anjangi, M Chitre, M Ignatius, CP Pendharkar</p>
			</a>
		</div>
	</div>
	<div class="row large">
		<h3 class="tech-h3">
			<span>Publications</span>
			<span class="line"></span>
		</h3>
		<!-- Publications -->
		<div class="feature-grid col2 tech-col-grid">
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/10754077" target="_blank">
				<span class="card-tag silver outline">Oceans 2024</span>
				<h4>Design, Development and Deployment of an Underwater Cellular Network</h4>
				<p>S. Etter et al.</p>
			</a>
			<a class="tech-link" href="https://onepetro.org/OTCONF/proceedings-abstract/23OTC/1-23OTC/519319" target="_blank">
				<span class="card-tag silver outline">OTC 2023</span>
				<h4>Smart Wireless Data Transfer Solution for Underwater Sensors</h4>
				<p>Ignatius, Manu, Anjangi, Prasad, and Mandar Chitre</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/9905694" target="_blank">
				<span class="card-tag silver outline">UComms 2022</span>
				<h4>Adaptive Modulation and Feedback Strategy for an Underwater Acoustic Link</h4>
				<p>W. Shuangshuang, P. Anjangi and M. Chitre</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/9705921" target="_blank">
				<span class="card-tag silver outline">Oceans 2021</span>
				<h4>Monte Carlo Tree Search and Delay-Aware Feedback Adaptation for Underwater Acoustic Link Tuning</h4>
				<p>W. Shuangshuang, M. Chitre and P. Anjangi</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/9598131" target="_blank">
				<span class="card-tag silver outline">UComms 2021</span>
				<h4>Distributed Spatial Diversity Enabled Receiver System For An Underwater Acoustic Link</h4>
				<p>P. Anjangi, M. Chitre, M. Ignatius and C. Pendharkar</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/9389462" target="_blank">
				<span class="card-tag silver outline">Oceans 2020</span>
				<h4>Diver Communication and Localization System using Underwater Acoustics</h4>
				<p>P. Anjangi, A. Gibson, M. Ignatius, C. Pendharkar, A. Kurian, A. Low, M. Chitre</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/8493161" target="_blank">
				<span class="card-tag silver outline">UComms 2018</span>
				<h4>Model-based Data-driven Learning Algorithm for Tuning an Underwater Acoustic Link</h4>
				<p>P. Anjangi and M. Chitre</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/7003044" target="_blank">
				<span class="card-tag silver outline">Oceans 2014</span>
				<h4>UnetStack: An agent-based software stack and simulator for underwater networks</h4>
				<p>M. Chitre, R. Bhatnagar and W. -S. Soh</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/7017156" target="_blank">
				<span class="card-tag silver outline">UComms 2014</span>
				<h4>Baseband signal processing with UnetStack</h4>
				<p>M. Chitre, R. Bhatnagar, M. Ignatius and S. Suman</p>
			</a>
		</div>
	</div>
	<!-- Third party publications -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>Third-party Publications</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col2 tech-col-grid">
			<a class="tech-link" href="https://www.sciencedirect.com/science/article/pii/S2590123024010466" target="_blank">
				<span class="card-tag silver outline">2024</span>
				<h4>Reinforcement learning-based automated modulation switching algorithm for an enhanced underwater acoustic communication</h4>
				<p>Sweta T, Ruthrapriya S, Sneka J, John Sahaya Rani Alex, Rohith G, Mangal Das</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/abstract/document/10947466" target="_blank">
				<span class="card-tag silver outline">2025</span>
				<h4>A Low-cost, Expendable Shallow Water Profiling Float with Improved Capabilities</h4>
				<p>V. Pallayil, N. C. Chong, L. T. Khoon and M. A. Chitre</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/9905671" target="_blank">
				<span class="card-tag silver outline">2022</span>
				<h4>Physics-informed Data-driven Communication Performance Prediction for Underwater Vehicles</h4>
				<p>M. Chitre and L. Kexin</p>
			</a>
			<a class="tech-link" href="https://dl.acm.org/doi/10.1145/3567600.3568148" target="_blank">
				<span class="card-tag silver outline">2022</span>
				<h4>Integration of Acoustic Communication with Underwater Autonomy: A Case Study.</h4>
				<p>Connor Webb, Syed Murtaza Rizvi, Aswanth Sampathkumar, Brodie Alexander, Aijun Song, and Fumin Zhang</p>
			</a>
			<a class="tech-link" href="https://dl.acm.org/doi/abs/10.1145/3567600.3568142" target="_blank">
				<span class="card-tag silver outline">2022</span>
				<h4>A JANUS-Based Consensus Protocol for Parametric Modulation Schemes</h4>
				<p>Emil Wengle, John Potter, Damiano Varagnolo, and Hefeng Dong</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/9277035" target="_blank">
				<span class="card-tag silver outline">2020</span>
				<h4>A Framework for Residual Energy Model in UnetStack Simulator for Underwater Sensor Networks</h4>
				<p>B. R. Chandavarkar and A. V. Gadagkar</p>
			</a>
			<a class="tech-link" href="https://ieeexplore.ieee.org/document/7579629" target="_blank">
				<span class="card-tag silver outline">2017</span>
				<h4>Software-Defined Underwater Acoustic Modems: Historical Review and the NILUS Approach,</h4>
				<p>H. S. Dol, P. Casari, T. van der Zwan and R. Otnes</p>
			</a>
		</div>
	</div>
	<!-- named anchor for next section - news -->
	<a name="news" id="news"></a>
</section>

<section class="tech-resources bg-light" id="news">
	<header class="tech-head">
		<h2 class="text-gradient g-orange">News & Articles</h2>
	</header>
	<!-- Articles -->
	<div class="row large">
		<h3 class="tech-h3">
			<span>Magazine Articles</span>
			<span class="line"></span>
		</h3>
		<div class="feature-grid col2">
			<a class="tech-link" href="https://lsc-pagepro.mydigitalpublication.com/publication/?m=60787&i=727818&p=17&ver=html5" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/images/magazine-cover-01.jpg" alt="Subnero Wireless Integrated Suite (SWIS), ADCP Edition">
				</div>
				<div class="tech-content">
					<span class="card-tag silver outline">Sea Technology</span>
					<h4>Multichannel Modems The'Swiss Army Knife'of Acoustic Modems in the Maritime Domain</h4>
					<p>Manu Ignatius, and Prasad Anjangi (2021, 17-21)</p>
				</div>
			</a>
			<a class="tech-link" href="https://lsc-pagepro.mydigitalpublication.com/publication/?m=60787&i=792020&p=14&ver=html5" target="_blank">
				<div class="tech-img md">
					<img src="{{site.baseurl}}/images/magazine-cover-02.jpg" alt="Subnero Wireless Integrated Suite (SWIS), ADCP Edition">
				</div>
				<div class="tech-content">
					<span class="card-tag silver outline">Sea Technology</span>
					<h4>ADCP Data Retrieval</h4>
					<p>Florie Mancel (May 2023, 14-16)</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row large">
		<h3 class="tech-h3">
			<span>News</span>
			<span class="line"></span>
		</h3>
		<!-- News -->
		<div class="feature-grid col3 tech-col-grid">
			<a class="tech-link" href="https://oceannews.com/news/science-technology/nauticus-robotics-announces-ultra-deepwater-aquanaut-test-results-using-subnero-modems/" target="_blank">
				<span class="card-tag silver outline">Ocean News & Technology</span>
				<h4>Nauticus Robotics Announces Ultra-Deepwater Aquanaut Test Results Using Subnero Modems</h4>
			</a>
			<a class="tech-link" href="https://www.hydro-international.com/content/news/subnero-unveils-new-generation-of-underwater-acoustic-smart-modems" target="_blank">
				<span class="card-tag silver outline">Hydro International</span>
				<h4>Subnero unveils new generation of underwater acoustic smart modems</h4>
			</a>
			<a class="tech-link" href="https://www.ecomagazine.com/news/industry/subnero-and-popoto-modem-partner-to-launch-the-s1000-n" target="_blank">
				<span class="card-tag silver outline">ECO Magazine</span>
				<h4>Subnero and Popoto Modem Partner to Launch the S1000-N</h4>
			</a>
			<a class="tech-link" href="https://www.oceanbusiness.com/product-launch/subnero-wireless-integrated-suite-swis-adcp-edition/" target="_blank">
				<span class="card-tag silver outline">Ocean Business</span>
				<h4>Subnero Wireless Integrated Suite (SWIS) — ADCP edition</h4>
			</a>
			<a class="tech-link" href="https://kr-asia.com/how-water-drones-can-help-singapore-sustain-its-water-card-tag silver outlines" target="_blank">
				<span class="card-tag silver outline">Kr-ASIA</span>
				<h4>How water drones can help Singapore sustain its water card-tag silver outlines</h4>
			</a>
			<a class="tech-link" href="https://earthzine.org/talking-safely-underwater-acoustic-networks-robust-to-disruption/" target="_blank">
				<span class="card-tag silver outline">Earthzine</span>
				<h4>Talking underwater, disruption-safe</h4>
			</a>
			<a class="tech-link" href="https://www.channelnewsasia.com/watch/tipping-point/muddy-waters-1517016" target="_blank">
				<span class="card-tag silver outline">Channel News Asia</span>
				<h4>Tipping Point [35:38]</h4>
			</a>
			<a class="tech-link" href="https://www.eco-business.com/news/supporting-the-worlds-water-start-ups/" target="_blank">
				<span class="card-tag silver outline">Eco-Business</span>
				<h4>Supporting the world's water start-ups</h4>
			</a>
			<a class="tech-link" href="https://nusenterprise.medium.com/the-hangar-by-nus-enterprise-entrepreneurs-feature-subnero-efc2ee7329aa" target="_blank">
				<span class="card-tag silver outline">NUS Enterprise</span>
				<h4>THE HANGAR by NUS Enterprise Entrepreneurs Feature — Subnero</h4>
			</a>
			<a class="tech-link" href="https://theaseanpost.com/article/singapore-uses-robot-swans-its-water-management" target="_blank">
				<span class="card-tag silver outline">The ASEAN Post</span>
				<h4>Singapore uses robot swans for its water management</h4>
			</a>
			<a class="tech-link" href="https://www.mentalfloss.com/article/526024/researchers-singapore-deploy-robot-swans-test-water-quality" target="_blank">
				<span class="card-tag silver outline">Mental Floss</span>
				<h4>Researchers in Singapore Deploy Robot Swans to Test Water Quality</h4>
			</a>
			<a class="tech-link" href="http://www.koreaherald.com/view.php?ud=20141203000430" target="_blank">
				<span class="card-tag silver outline">The Korea Herald</span>
				<h4>Singaporean start-up Subnero takes Internet underwater</h4>
			</a>
			<a class="tech-link" href="https://www.techinasia.com/subnero-is-making-underwater-internet-a-reality" target="_blank">
				<span class="card-tag silver outline">Tech in Asia</span>
				<h4>Think underwater internet is impossible? This Singapore startup is proving people wrong</h4>
			</a>
			<a class="tech-link" href="https://e27.co/meet-subnero-asias-sole-finalist-at-iot-innovation-grand-challenge-20141009/" target="_blank">
				<span class="card-tag silver outline">E27</span>
				<h4>Meet Subnero, Asia's sole finalist at IoT Innovation Grand Challenge</h4>
			</a>
			<a class="tech-link" href="https://www.wired.co.uk/article/undersea-internet" target="_blank">
				<span class="card-tag silver outline">WIRED</span>
				<h4>How do submarines get online?</h4>
			</a>
			<a class="tech-link" href="https://www.cnbc.com/2014/04/27/from-balloons-to-shrimp-filled-shallows-the-future-is-wireless.html" target="_blank">
				<span class="card-tag silver outline">CNBC</span>
				<h4>From balloons to shrimp-filled shallows, the future is wireless</h4>
			</a>
			<a class="tech-link" href="https://www.economist.com/technology-quarterly/2013/03/09/captain-nemo-goes-online" target="_blank">
				<span class="card-tag silver outline">The Economist</span>
				<h4>Captain Nemo goes online</h4>
			</a>
		</div>
	</div>
</section>

<script>        
// Sticky nav active state highlighting
	window.addEventListener('scroll', () => {
		const sections = ['datasheets', 'whitepapers', 'videos', 'publication', 'news'];
		const navLinks = document.querySelectorAll('.tabs-list a');
		
		let current = '';
				
		sections.forEach(section => {
			const element = document.getElementById(section);
			if (element) {
				const sectionTop = element.offsetTop;
				if (scrollY >= sectionTop - 180) { // Offset for sticky nav height
					current = section;
				}
			}
		});

		navLinks.forEach(link => {
			link.classList.remove('active');
			if (current && link.getAttribute('href').includes(current)) {
					link.classList.add('active');
			}
		});
	});
</script>